@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.bg-color{
  /* background:  linear-gradient(90.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
  /* background:  linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
  background: linear-gradient(180.00deg, rgba(65, 65, 65, 0.938),rgba(119, 119, 119, 0) 100%);
}
.btn-primary{
  width: 200px;
  height: 40px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  margin-top: 25px;
}
.background-color{
  background-color: rgba(0, 0, 0, 0.966);
}


/* nav section */
.navbar{
  max-width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  
  margin-bottom: 20px;
}
.brand{
  color: rgb(230, 83, 60);  
  font-size: 2.20rem;
  font-weight: 800;
  margin-top: 20px;
}

.nav-links{
  display: flex;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 36px;
  padding: 5px 0px;
}
.nav-item{
  list-style: none;
  margin: auto 20px;
}
.nav-btn{
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 46px;
  background: rgb(230, 83, 60);
}
.nav-link{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

/* banner section */
.banner{
  max-width: 1060px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 100px;
}

.banner-content{
  max-width: 520px;
}
.banner-title{
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 900;
}

.banner-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 28px;
}
.btn{
  width: 200px;
  height: 40px;
  border: 2px solid white;
  border-radius: 42px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  margin-top: ;
}
.banner-img{
  height: 480px;
}

/* change your habits section */
.habit-container{
  max-width: 1060px;
  margin: 90px auto;
}
.habits{
  margin: 0 284px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
}
.habit-title{
  color: white;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 5px;
}
.habit-description{
  color: white;
  font-size: 0.90rem;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.img-container{
  display: flex;
  justify-items: center;
  text-align: center;
}
.img-title{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.img-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.90rem;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-align: center;
}
.movement-img{
  width: 200px;
  height: 250px;
  border: 0.5px solid steelblue;
}
.images{
  margin-top: 30px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
}

/* running section */

.running-container{
  max-width: 1060px;
  margin: 100px auto;
  background: rgb(34, 34, 34);
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.runing-content{
  width: 430px;
  margin-left: 45px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.title{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 5px;
}
.description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.90rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}
.run-images{
  
  padding: 30px 32px;
}
.run-img{
  width: 350px;
  height: 300px;
  border-radius: 18px;
}

/* bmi section */

.bmi-container{
  background: rgba(255, 255, 255, 0.1);
}
.bmi-content{
  width: 1060px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 70px;
}

.bmi-calculator-container{
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0px auto;
  padding: 30px 0px;
}

table{
  border-collapse: collapse;
  
}
th{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  color: white;
}
td{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  color: rgba(255, 255, 255, 0.5);
}
.calculate-your-BMI{
  width: 570px;
  
}
.bmi-chat-title{
  color: rgb(255, 255, 255);
  font-size: 1.70rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.bmi-chat-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.80rem;
  font-weight: 400;
  margin: 14px 0px;
}

.bmi-input-container{
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
 
}

.input-text{
  border-radius: 8px;
  padding: 3px 20px 3px 10px;
  background: rgba(255, 255, 255, 0.1);;

}

.select{
  height: 25px;
  border-radius: 8px;
  padding-left: 10px;
  color: gray;
  background: rgba(255, 255, 255, 0.1);
}
.select-tow{
  height: 25px;
  border-radius: 8px;
  padding-left: 10px;
  color: gray;
  background: rgba(255, 255, 255, 0.1);
  grid-column: span 2;
}

/* trainer section done */

.trainer-container{
  width: 1060px;
  margin: 0 auto;
  
  margin-top: 75px;
}
.trainer-content{
  text-align: center;
  margin-bottom: 50px;
}
.trainer-img-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px ;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 18px;
}
.trainer-img{
  width: 325.6px;
  height: 265px;
  border-radius: 18px;
}

/* footer section */

footer{
  color: aliceblue;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 50px;
  padding: 50px;
}

.footer-container{
  width: 1060px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;

  margin-bottom: 70px;
}
.footer-sc{
  margin-right: 200px;
  width: 440px;
}
.footer-title{
  color: rgb(230, 83, 60);
  font-size: 4rem;
  font-weight: 800;
}
.footer-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.80rem;
  font-weight: 400;
  line-height: 20px;
  margin-top: 18px;
}
.About-section{
  width: 150px;
  margin: 0px 0px 0px 0px;
}
.Abouts-section{
  width: 150px;
  margin: 0px 0px 0px 35px;
}
.Abouts-title{
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 700;
}
.Abouts{
  display: flex;
  flex-direction: column;
  margin-top: 30px;

}
.text{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 18px;
}

hr{
  width: 85%;
  margin: 0 auto;
}
.small{
  text-align: center;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.5);
  
}