@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*{
  margin: 0;
  padding: 0;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.bg-color{
  
  background: linear-gradient(180.00deg, rgba(65, 65, 65, 0.938),rgba(119, 119, 119, 0) 100%);
}
.btn-primary{
  width: 200px;
  height: 40px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  margin-top: 25px;
}
.background-color{
  background-color: rgba(0, 0, 0, 0.966);
}


/* nav section */
.navbar{
  max-width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  
  margin-bottom: 20px;
}
.brand{
  color: rgb(230, 83, 60);  
  font-size: 2.20rem;
  font-weight: 800;
  margin-top: 20px;
}

.nav-links{
  display: flex;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 36px;
  padding: 5px 0px;
}
.nav-item{
  list-style: none;
  margin: auto 20px;
}
.nav-btn{
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 46px;
  background: rgb(230, 83, 60);
}
.nav-link{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

/* banner section */
.banner{
  max-width: 1060px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 100px;
}

.banner-content{
  max-width: 520px;
}
.banner-title{
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 900;
}
#span{
  font-family:  'Miama', sans-serif;
  font-size: 8rem;
  font-weight: 400;
}
.banner-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 28px;
}
.btn{
  width: 200px;
  height: 40px;
  border: 2px solid white;
  border-radius: 42px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  margin-top: ;
}
.banner-img{
  height: 480px;
}

#side-btn-1, #side-btn-2{
  width: 160px;
  height: 80px;
  border: 1px solid  rgba(255, 255, 255, 0);
  border-radius: 12px;
  background: rgba(48, 48, 48, 0.54);
  color: white;
}
.side-btn-number{
  font-size: 1.5rem;
  font-weight: 900;
}
.side-btn-title{
  font-size: 0.9rem;
  color: rgba(239, 237, 232, 0.65);
  font-weight: 400;
  /* margin-top: 5px; */
}
/* change your habits section */
.habit-container{
  max-width: 1060px;
  margin: 90px auto;
}
.habits{
  border: 1px solid salmon;
  text-align: center;
}
.habit-title{
  color: white;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 14px;
}
.habit-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.90rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}
.img-container{
  display: flex;
  justify-items: center;
  text-align: center;
}
.img-title{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}
.img-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.90rem;
  font-weight: 400;
  text-align: center;
  margin-top: 6px;
}
.images{
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
}

/* running section */

.running-container{
  max-width: 1060px;
  margin: 100px auto;
  background: rgb(34, 34, 34);
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.runing-content{
  width: 430px;
  margin-left: 45px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.title{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 5px;
}
.description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.90rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}
.run-images{
  
  padding: 30px 32px;
}
.run-img{
  width: 350px;
  height: 300px;
  border-radius: 18px;
}

/* bmi section */

.bmi-container{
  background: rgba(255, 255, 255, 0.1);
}
.bmi-content{
  max-width: 1060px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 70px;
}

.bmi-calculator-container{
  display: flex;
  justify-content: space-between;
  max-width: 1060px;
  margin: 0px auto;
  padding: 30px 0px;
}

table{
  border-collapse: collapse;
}
th{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  color: white;
  text-align: justify;
}
td{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  color: rgba(255, 255, 255, 0.5);
}
.calculate-your-BMI{
  margin: 0 auto;

  
}
.bmi-chat-title{
  color: rgb(255, 255, 255);
  font-size: 1.70rem;
  font-weight: 900;
  margin-bottom: 20px;
}

.bmi-chat-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.80rem;
  font-weight: 400;
  margin-bottom: 10px;
  
}

.bmi-input-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
 
}

.input-text{
  height: 25px;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  padding: 3px 20px 3px 10px;
  background: rgba(255, 255, 255, 0.1);

}

.select{
  height: 34px;
  border-radius: 8px;
  padding-left: 10px;
  color: gray;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.1);
}
.select-tow{
  height: 32px;
  border-radius: 8px;
  padding-left: 10px;
  color: gray;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.1);
  grid-column: span 2;
}

/* trainer section done */

.trainer-container{
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 75px;
}
.trainer-content{
  text-align: center;
  margin-bottom: 50px;
}
.trainer-img-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px ;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 18px;
}
.trainer-img{
  width: 325.6px;
  height: 265px;
  border-radius: 18px;
}

/* footer section */

footer{
  background: rgba(255, 255, 255, 0.1);
  margin-top: 50px;
  padding: 50px;
}

.footer-container{
  max-width: 1060px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  margin-bottom: 70px;
  gap: 50px;
}
.footer-sc{
  margin-right: 200px;
  max-width: 440px;
}
.footer-title{
  color: rgb(230, 83, 60);
  font-size: 4rem;
  font-weight: 800;
}
.footer-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.80rem;
  font-weight: 400;
  line-height: 20px;
  margin-top: 18px;
}

.About-title{
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 700;
}       
.Abouts{
  display: flex;
  flex-direction: column;
  margin-top: 30px;

}
.text{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 18px;
}

hr{
  width: 85%;
  margin: 0 auto;
}
.small{
  text-align: center;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.5);
  
}


/* smaller device */

@media screen and (max-width:576px) {
  
  .navbar{
    flex-direction: column;
  }

  .banner{
    flex-direction: column;
    gap: 20px;
  }
  
  .img-container{
    flex-direction: column;
  }
  .images{
    margin-top: 20px;
  }
  .running-container{
    flex-direction: column;
  
  }

  .bmi-calculator-container{
    flex-direction: column;
  }
  .bmi-calculator-container{
    margin-left: 20px;
    
  }
  .calculate-your-BMI{
    margin-top: 20px;
  }
  .bmi-input-container{
    display: flex;
    flex-direction: column;
    width: 350px;
  }
   
   
  .trainer-img-container{
    grid-template-columns: repeat(1, 1fr);

  }
  .trainer-img{
    margin: 0 auto;
  }

  .footer-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .Abouts{
    margin-top: 15px;
  }

  hr{
    width: 95%;
  }
}